<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Text Summarization</h1>

    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" size="50" name="tweet" placeholder="Enter the Text" required="required" />
    </input>
        <br>
        
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Summarize</button>

    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
